#!/bin/sh
xset +fp /home/kim/.local/share/fonts &
xset fp rehash &
picom &
setxkbmap dk &
xsetroot -cursor_name left_ptr &
xfce4-power-manager &
/usr/lib/polkit-1/polkit-agent-helper-1 &
dbus-launch &
xrdb -load ~/.Xresources &
dropbox &
feh --bg-scale ~/.baggrunde/0116.jpg &
